* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html {
	height: 100%;
}

body {
	background-color: #f7f7f7;
	height: 100%;
}

#sidebar {
	width: 200px;
	height: 100%;
	background-color: blue;
	float: left;
}

#mainwindow {
	height: 100%;
	background-color: green;
}

#messagecontent {
	position: absolute;
	background-color: purple;
	bottom: 50px;
	right: 0px;
	left: 200px;
	top: 0px;
	overflow-y: scroll;
}

#commandbar {
	position: absolute;
	background-color: red;
	height: 50px;
	bottom: 0px;
	right: 0px;
	left: 200px;
}