* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#sidebar {
	position: absolute;
	width: 200px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #eeeeee;
}

#messagecontent {
	position: absolute;
	bottom: 50px;
	right: 0px;
	left: 200px;
	top: 0px;
	overflow-y: scroll;
}

#commandbar {
	position: absolute;
	height: 50px;
	bottom: 0px;
	right: 0px;
	left: 200px;
	border: 1px solid black;
}